<ion-header>
  <ion-navbar color="navbar">
    <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>
      {{"page-home.title" | translate}}
    </ion-title>
    <login-buttons></login-buttons>
  </ion-navbar>
</ion-header>

<div class="cashbox-view" scroll="false">
  
  <div class="login-wrapper" *ngIf=!user >
    <login-buttons isDropdownOpen=true></login-buttons>
  </div>
    
  <div *ngIf=!!user class="cachbox-right-scrollw" style="width:100%">
    <div class="orders-w cachbox-left-scroll">
      <cart></cart>
    </div>    
    <products></products>
    
  </div>
</div>